# Arquivos acima de 100 MB devem ser enviados com Git LFS.
5_periodo/rede_computadores/referencias/kurose_redes_de_computadores_8ed.pdf filter=lfs diff=lfs merge=lfs -text
5_periodo/processamento_imagens/referencias/livro_pdi.pdf filter=lfs diff=lfs merge=lfs -text
